<!DOCTYPE html>
<html>
<head>
  <title>Salvia Sinatra Test</title>
  <script type="module" src="/assets/javascripts/islands.js"></script>
</head>
<body>
  <h1>Salvia on Sinatra</h1>
  <%= island "Counter", initialCount: 5 %>
</body>
</html>
